doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h4 The data you entered are here below: 
            ul 
                //- li Your name is:#{userName} 
                //- li Your age is:#{userAge}
                //- li Your entered password is:#{userPassword}
