extend layout
block content
    p
        | This is a parapgraph
        | vehicula. Sed auctor neque eu tellus
        | rhoncus ut eleifend nibh porttitor. Ut in.
    p
        | Donec congue lacinia dui, a porttitor
        | lectus condimentum laoreet. Nunc eu
        | ullamcorper orci. Quisque eget odio ac
block sidebar
    .widget
        h1 This is a Widget
        p
            | This is a paragraph
            | eleifend nibh porttitor. Ut in nulla enim.
            
        p
            | This is another paragraph 
            | vehicula ndrerit arcu sed erat molestie