<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: beige;
        text-align: center;
      }
      section {
        margin: 10px;
        border: 6px solid rgb(29, 148, 10);

        border-radius: 6px;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>This is the students page</h1>
      <p>My reg number is :20183311xx</p>
    </section>
  </body>
</html>
