body{
  background-color: rgb(204, 174, 135);
}input,label{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
form{
  border-radius: 12px;
  font-size: 2rem;
  padding: 20px;
  background-color: rgb(252, 252, 250);
  width: 50%;
  margin: 30px auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


form button{
  border-radius: 5px;
  padding: 8px;
  display: block;
  width: 4rem;
  margin: auto;
  background-color: #fff;

}